.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1px;
  padding: 24px;
  padding-left: 32px;
  background-color: var(--c-white);
  border-radius: 32px;
  margin-top: 30px;
}